In [33]:
from main import getTickers
from main import getStockFromTicker
import pandas as pd

In [2]:
tickers = getTickers()

In [3]:
tickers[3]

'AAPL'

In [4]:
stock = getStockFromTicker(tickers[3])

[main.py:121 -   getHistoricalPrice() ] Success getting historical price for AAPL
[main.py:137 -        getFinancials() ] Success getting financials for AAPL

In [24]:
data = stock.financials['yearly_balance_sheet']
data

endDate,2019-09-28,2018-09-29,2017-09-30,2016-09-24
Breakdown,,,,
totalLiab,2.480280e+11,2.585780e+11,2.412720e+11,1.934370e+11
totalStockholderEquity,9.048800e+10,1.071470e+11,1.340470e+11,1.282490e+11
otherCurrentLiab,4.324200e+10,3.929300e+10,3.809900e+10,8.243000e+09
totalAssets,3.385160e+11,3.657250e+11,3.753190e+11,3.216860e+11
commonStock,4.517400e+10,4.020100e+10,3.586700e+10,3.125100e+10
otherCurrentAssets,1.235200e+10,1.208700e+10,1.393600e+10,8.283000e+09
retainedEarnings,4.589800e+10,7.040000e+10,9.833000e+10,9.636400e+10
otherLiab,5.050300e+10,4.891400e+10,4.325100e+10,3.900400e+10
treasuryStock,-5.840000e+08,-3.454000e+09,-1.500000e+08,6.340000e+08
otherAssets,3.297800e+10,2.228300e+10,1.817700e+10,8.757000e+09
cash,4.884400e+10,2.591300e+10,2.028900e+10,2.048400e+10
totalCurrentLiabilities,1.057180e+11,1.159290e+11,1.008140e+11,7.900600e+10
shortLongTermDebt,1.026000e+10,8.784000e+09,6.496000e+09,3.500000e+09
otherStockholderEquity,-5.840000e+08,-3.454000e+09,-1.500000e+08,6.340000e+08
propertyPlantEquipment,3.737800e+10,4.130400e+10,3.378300e+10,2.701000e+10
totalCurrentAssets,1.628190e+11,1.313390e+11,1.286450e+11,1.068690e+11
longTermInvestments,1.053410e+11,1.707990e+11,1.947140e+11,1.704300e+11
netTangibleAssets,9.048800e+10,1.071470e+11,1.340470e+11,1.196290e+11
shortTermInvestments,5.171300e+10,4.038800e+10,5.389200e+10,4.667100e+10
netReceivables,4.580400e+10,4.899500e+10,3.567300e+10,2.929900e+10
longTermDebt,9.180700e+10,9.373500e+10,9.720700e+10,7.542700e+10
inventory,4.106000e+09,3.956000e+09,4.855000e+09,2.132000e+09
accountsPayable,4.623600e+10,5.588800e+10,4.424200e+10,3.729400e+10
intangibleAssets,NaN,NaN,NaN,3.206000e+09
goodWill,NaN,NaN,NaN,5.414000e+09

In [29]:
df = data.loc[['totalAssets','totalLiab','intangibleAssets','goodWill'], :]
df.loc['bookValue'] = df.loc['totalAssets'] - df.loc['totalLiab'] - df.loc['intangibleAssets'] - df.loc['goodWill']
df

endDate             2019-09-28    2018-09-29    2017-09-30    2016-09-24
Breakdown
totalAssets       3.385160e+11  3.657250e+11  3.753190e+11  3.216860e+11
totalLiab         2.480280e+11  2.585780e+11  2.412720e+11  1.934370e+11
intangibleAssets           NaN           NaN           NaN  3.206000e+09
goodWill                   NaN           NaN           NaN  5.414000e+09
bookValue                  NaN           NaN           NaN  1.196290e+11

In [64]:
a = pd.DataFrame(columns=[2019,2018,2017,2016], index=['bookValue'])
a.loc['bookValue'] = [17,9,4,1]
a

          2019 2018 2017 2016
bookValue   17    9    4    1

In [65]:
a = a[sorted(list(a.columns))]

In [66]:
a.loc['bookValueGrowthRate'] = a.loc['bookValue'].pct_change()
a

C:\Users\Tobias Fechner\Documents\4 - Investing\1 - Stocks and Shares\stock-screener\venv\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

                    2016 2017  2018      2019
bookValue              1    4     9        17
bookValueGrowthRate  NaN    3  1.25  0.888889

In [67]:
a = a[reversed(list(a.columns))]
a

                         2019  2018 2017 2016
bookValue                  17     9    4    1
bookValueGrowthRate  0.888889  1.25    3  NaN